<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    

<#if tests??>
    <#list tests as test>
    <h2>${test.title}</h2>
    <h3>Posted on: ${test.publishDate?date}</h3>
    <#if test.viewingPermission??>
    <h4>${test.viewingPermission.getName()}</h4>
    </#if>
    <p>${test.content}</p>
    </#list>
<#else>
    <h2>NOTHING HERE!</h2>
</#if>

</@layout.myLayout>