<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "New Complex Test"> 

<form action="/ctest/new" method="post">
    <div class="frm_grp">
        <label>Title</label>
        <input type="text" name="title" id="title" placeholder="Some title" />
    </div>
    <div class="frm_grp">
        <label>Content</label>
        <textarea name="content" id="content" placeholder="Some content goes here"></textarea>
    </div>
    <div class="frm_grp">
        <label>Viewing Permission</label>
        <select name="viewingPermission" id="viewingPermission">
            <#if viewing_permissions??>
                <#list viewing_permissions as perm>
                <option value='${perm.getID()}'>${perm.getName()}</option>
                </#list>
            </#if>
        </select>
    </div>
    <input type="submit" name="create_test" value="Create" />
</form>

</@layout.myLayout>