<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page"> 

<form action="/test/new" method="post">
    <div class="frm_grp">
        <label>Title</label>
        <input type="text" name="title" id="title" placeholder="Some title" />
    </div>
    <div class="frm_grp">
        <label>Content</label>
        <textarea name="content" id="content" placeholder="Some content goes here"></textarea>
    </div>
    <input type="submit" name="create_test" value="Create" />
</form>

</@layout.myLayout>